*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    color: #4a687b;
    font-family: 'Roboto', sans-serif;
}

.cor1{
    color:#96eec9;
    color: #1783cc;
    color:#4a687b;
    color: #fbead7;
    color:#f2a849;
    color:#def2e2;
    color:#6ac981;
}
table {
    border-collapse: collapse;
    border-spacing: 0px;
}
table,
th,
td {
    padding: 5px;
    border: 1px solid black;
}
td{
    text-align: center;
}
main{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.list1{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    border: 1px solid #1783cc;
    padding: 10px;
    border-radius: 8px;
}

.list1 li{
    border: 1px solid #6ac981 ;
    padding: 4px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icident-list{
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 80%;
    gap: 10px;
}

.icident-list h5{
    text-decoration:underline;
    font-weight: 800;
    font-size: large;
}